.dropdown-container {
    position: relative;
    display: inline-block;
}


.dropdown-btn {
    background-color: #ffffff;
    color: rgb(100, 100, 100);
    padding: 15px 15px;
    font-size: 14px;
    min-width: 150px;
    font-family: inherit;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    cursor: pointer;
}



.dropdown-btn:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
}

.rotate {
    transform: rotate(180deg);
}

.category-picker {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}


.category-dropdown-menu {
    display: none;
    max-height: 1000px;
    max-height: 0;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* transition: height 220ms ease-in-out, width 220ms ease-in-out, opacity 220ms ease-in-out; */
    transition: max-height 150ms ease-in-out;
    overflow-y: hidden;
}


.showEl {
    max-height: 1000px;
}

.category-text{
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

.dropdown-arrow{
    user-select: none;
    pointer-events: none;
    transition: transform 150ms ease-in-out;
}


.dropdown-item {
    color: rgb(100, 100, 100);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.open-dropdown-bgr{
    background-color: rgb(228, 228, 228);
    border-bottom-color: transparent;
}


.dropdown-item:hover {
    background-color: rgb(231, 231, 231);
    /* border-radius: 4px; */
}


.show {
    display:block;
}